@import "utils";
@import "fonts";
@import "typography";
@import "utils/vars";
@import "utils/mixins";
@import "utils/extends";

.button {
  width: 100%;
  box-sizing: border-box;
  text-transform: uppercase;

  &--buy {
    width: 238px;
    height: 48px;

    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 14px;
    line-height: 21px;

    background-color: #ffe339;
    border: 1px solid #ffe339;
    outline: none;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
    }
  }

  &--order {
    &--outer {
      margin-bottom: 40px;
    }
  }
}
