@import "utils";
@import "fonts";
@import "typography";
@import "utils/vars";
@import "utils/mixins";
@import "utils/extends";

.form {
  width: 100%;

  &--checkout {
    width: 260px;
    margin: 0 auto;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    padding: 4px;

    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: transparent;

    @media (min-width: $tablet-width) {
      width: 340px;
      margin-bottom: 25px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 20px;
    }

    &::placeholder {
      font-family: "Proxima Nova", sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: $c-gray;
    }

    &--checkout {
      width: 240px;
      display: block;
      margin: 0 0 25px;
      padding: 10px 20px;
    }

    &--payment {
      width: auto;
      margin: 0;
    }

    &--pay {
      width: 260px;
      margin: 0;
      padding: 6px 17px;

      &::placeholder {
        text-transform: uppercase;
      }
    }

    &--outer {
      margin-bottom: 31px;

      @media (min-width: $tablet-width) {
        margin-bottom: 35px;
      }

      @media (min-width: $tablet-width) {
        margin-bottom: 59px;
      }
    }
  }

  &__fieldset {
    margin: 0;
    padding: 0;
    border: none;

    &--outer {
      margin-bottom: 99px;
    }

    &--out {
      margin-bottom: 56px;
    }
  }

  &__title {
    display: flex;
    margin: 0 0 52px;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
  }

  &__title-value {
    display: block;
    margin-right: 20px;
    width: 24px;
    height: 25px;
    border-radius: 50%;
    background-color: $c-light-black;
    color: #fff;

    font-family: "Bebas Neue Bold", sans-serif;
    font-size: 12px;
    letter-spacing: 0.16em;
    line-height: 25px;
    text-align: center;
  }

  &__select {
    display: block;
    width: 240px;
    padding: 10px 20px;

    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
    line-height: 24px;

    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: transparent;

    color: $c-gray;
  }

  &__label {

    &--payment {
      width: 260px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 11px 0;

      border-bottom: 1px solid #bdbdbd;
    }

    &--payment-paypal {
      width: 120px;
      margin: 0;
      border-bottom: none;
    }
  }

  &__label-wrapper {
    width: 260px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #bdbdbd;
  }

  &__icon {
    &--master {
      width: 34px;
      height: 22px;
      background-image: url(../images/master.png);
    }

    &--visa {
      width: 37px;
      height: 24px;
      background-image: url(../images/visa.png);
    }

    &--paypal {
      width: 21px;
      height: 21px;
      background-image: url(../images/paypal.png);
    }
  }

  &__amount {
    width: 215px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
