@import "utils";
@import "fonts";
@import "typography";
@import "utils/vars";
@import "utils/mixins";
@import "utils/extends";

.form {
  width: 100%;

  &__input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    padding: 4px;

    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: transparent;

    @media (min-width: $tablet-width) {
      width: 340px;
      margin-bottom: 25px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 20px;
    }

    &::placeholder {
      font-family: "Proxima Nova", sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: $c-gray;
    }

    &--outer {
      margin-bottom: 31px;

      @media (min-width: $tablet-width) {
        margin-bottom: 35px;
      }

      @media (min-width: $tablet-width) {
        margin-bottom: 59px;
      }
    }
  }
}
