@import "utils";
@import "fonts";
@import "typography";
@import "utils/vars";
@import "utils/mixins";
@import "utils/extends";

.header {
  margin: 0 auto;

  &__mobile {
    width: $mobile-content-width;
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
  }

  &__container {
    width: $mobile-content-width;
    margin: 0 auto;
  }

  &__link {
    font-family: "Bebas Neue Bold", sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;

    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    color: $c-light-black;
  }

  &__sandwich {
    width: 32px;
    height: 32px;

    background-image: url(../images/sandwich.png);
    cursor: pointer;
  }

  &__photo {
    width: 320px;
    height: 320px;

    &--outer {
      margin-bottom: 25px;
    }
  }

  &__title {
    margin: 0 0 21px;

    font-family: "Bebas Neue Bold", sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;

    text-transform: uppercase;
    letter-spacing: 0.06em;

    color: $c-blue;
    -webkit-text-stroke: 1px $c-blue;
  }

  &__price {
    margin: 0;

    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 26px;
    line-height: 32px;

    color: $c-light-black;
  }

  &__text {
    display: block;
    width: 139px;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 21px;

    color: $c-gray;
  }

  &--outer {
    margin-bottom: 102px;
  }
}
