@import "utils";
@import "fonts";
@import "typography";
@import "utils/vars";
@import "utils/mixins";
@import "utils/extends";

.navigation {
  display: none;

  @media (min-width: $desktop-width) {
    width: 469px;
    display: block;
    grid-column: 2;
    align-self: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__link {
    font-size: 16px;
    line-height: 24px;

    color: $c-gray;
    text-decoration: none;

    transition: 0.3s ease-in-out;
    outline: none;

    &:hover,
    &:focus {
      color: #000;
    }
  }
}
