@import "utils";
@import "fonts";
@import "typography";
@import "utils/vars";
@import "utils/mixins";
@import "utils/extends";

.team {

  &__title {
    width: $mobile-content-width;
    margin: 0 auto 60px;

    font-family: "Bebas Neue Bold", sans-serif;
    font-size: 58px;
    line-height: 58px;
    font-weight: 700;

    letter-spacing: 0.16em;

    color: $c-light-black;
  }

  &__image {
    width: 320px;
    height: 240px;
    margin-bottom: 35px;
  }

  &__text-container {
    padding-bottom: 55px;

    background-image: url(../images/bg_yellow.svg);
    background-position: 0 98px;
  }

  &__text {
    width: $mobile-content-width;
    margin: 0 auto;
    color: $c-gray;

    &--outer {
      margin-bottom: 30px;
    }
  }

  &__lead {
    display: none;
  }

  &--outer {
    margin-bottom: 67px;
  }
}
