@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin absolutePositioning($x, $y) {
  position: absolute;
  top: $y;
  left: $x;
}
